<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>angularJS测试</title>
    <script src="js/angular.min.js"></script>
    <script>

        //1.定义一个模块
        //2.参数一：模块名称
        //3.参数二：要加载的其他模块，如果没有则必须为空数组，如果不写任何东西，则表示获取到已注册的模块
        var app = angular.module("app",[]);

        //1.定义处理器
        //2.参数一：处理器名称
        //3.处理器中的方法体，里面可以制定很多不同的方法，$scope是上下文，可以获取双向绑定的任何内容
        app.controller("MyController",function ($scope) {
            $scope.z = "";

            //定义处理器方法
            $scope.add = function () {
                //将输入框中的数据转换为数字
                $scope.z =  parseInt($scope.x) + parseInt($scope.y);
            }
        }) 
    </script>
</head>
<body ng-app="app" ng-controller="MyController">
x: <input ng-model="x"/><br>
y: <input ng-model="y"/><br>

<button ng-click="add()">点击进行计算</button>

x+y={{z}}
</body>
</html>